In [1]:
import pandas as pd
s_data=pd.read_excel("subset_data.xlsx")
s_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192225 entries, 0 to 192224
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    192225 non-null  object
 1   StockCode    192225 non-null  object
 2   Description  191951 non-null  object
 3   Quantity     192225 non-null  int64
 4   InvoiceDate  192225 non-null  datetime64[ns]
 5   UnitPrice    192225 non-null  float64
 6   CustomerID   154920 non-null  float64
 7   Country      192225 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 11.7+ MB

In [2]:
#2
invoice_data = s_data.groupby('InvoiceNo')['StockCode'].apply(list).reset_index()
invoice_data.columns = ['InvoiceNo', 'StockCodes']
print(invoice_data)

     InvoiceNo                                         StockCodes
0       565080                                     [20677, 22128]
1       565081                                            [21067]
2       565082                             [22423, 15060B, 23245]
3       565083  [22609, 22741, 23146, 72351A, 72351B, 22652, 2...
4       565084         [23309, 22970, 22988, 22902, 22659, 22616]
...        ...                                                ...
8257   C579438                                            [21533]
8258   C579496                                            [22666]
8259   C579502                                            [22946]
8260   C579519                                            [23139]
8261   C579521                              [22307, 21843, 22840]

[8262 rows x 2 columns]

In [3]:
#3
# Group data by InvoiceNo and aggregate StockCodes as a list
#the lambda function inside the apply() method is used to ensure that all 'StockCode' values are treated as strings.
invoice_data = s_data.groupby('InvoiceNo')['StockCode'].apply(lambda x: list(map(str, x))).reset_index()
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
# Convert StockCodes into one-hot encoded format
te = TransactionEncoder()
te_ary = te.fit(invoice_data['StockCode']).transform(invoice_data['StockCode'])
df = pd.DataFrame(te_ary, columns=te.columns_)

In [4]:
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

# Generate association rules with lift more than 1.0
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [5]:
print(rules)

         antecedents            consequents  antecedent support  \
0            (20712)                (21931)            0.028686
1            (21931)                (20712)            0.038489
2            (22385)                (20712)            0.026144
3            (20712)                (22385)            0.028686
4            (22386)                (20712)            0.041636
...              ...                    ...                 ...
2945  (23263, 23266)         (23265, 23264)            0.021544
2946         (23265)  (23263, 23264, 23266)            0.028928
2947         (23264)  (23265, 23263, 23266)            0.028807
2948         (23263)  (23265, 23264, 23266)            0.038974
2949         (23266)  (23265, 23264, 23263)            0.030622

      consequent support   support  confidence       lift  leverage  \
0               0.038489  0.011862    0.413502  10.743253  0.010757
1               0.028686  0.011862    0.308176  10.743253  0.010757
2               0.028686  0.010530    0.402778  14.041139  0.009780
3               0.026144  0.010530    0.367089  14.041139  0.009780
4               0.028686  0.012467    0.299419  10.437960  0.011272
...                  ...       ...         ...        ...       ...
2945            0.019487  0.012830    0.595506  30.559425  0.012410
2946            0.014645  0.012830    0.443515  30.283620  0.012406
2947            0.017429  0.012830    0.445378  25.553571  0.012328
2948            0.015614  0.012830    0.329193  21.083634  0.012221
2949            0.014766  0.012830    0.418972  28.373356  0.012378

      conviction  zhangs_metric
0       1.639410       0.933702
1       1.403991       0.943222
2       1.626387       0.953714
3       1.538693       0.956210
4       1.386441       0.943479
...          ...            ...
2945    2.424047       0.988575
2946    1.770675       0.995785
2947    1.771605       0.989367
2948    1.467465       0.991201
2949    1.695674       0.995232

[2950 rows x 10 columns]

In [6]:
print(frequent_itemsets)

       support                      itemsets
0     0.012830                       (15036)
1     0.012225                     (15056BL)
2     0.012346                      (15056N)
3     0.014403                      (16169E)
4     0.011619                       (16237)
...        ...                           ...
1814  0.010288  (22112, 22835, 23355, 22114)
1815  0.010772  (22699, 22423, 22697, 22698)
1816  0.010046  (22699, 23245, 22697, 22698)
1817  0.010409  (22699, 23171, 22697, 23170)
1818  0.012830  (23265, 23264, 23263, 23266)

[1819 rows x 2 columns]

In [7]:
df.iloc[5:10,10:20]

,15036,15039,15044A,15044B,15044C,15044D,15056BL,15056N,15056P,15056bl
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False

In [8]:
#4 Top Ten rules
rules.sort_values('confidence',ascending=False)[0:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
2218,"(21935, 22961)",(DOT),0.012104,0.016098,0.011862,0.980000,60.877895,0.011667,49.195110,0.995624
2214,"(21934, DOT)",(21935),0.011740,0.020939,0.011256,0.958763,45.787855,0.011011,23.742223,0.989781
2148,"(21810, 22577)",(22578),0.011135,0.051561,0.010530,0.945652,18.340325,0.009956,17.451271,0.956122
2639,"(23172, 23170)",(23171),0.012104,0.018519,0.011377,0.940000,50.760000,0.011153,16.358025,0.992310
2508,"(22666, DOT)",(22961),0.010772,0.040910,0.010046,0.932584,22.795891,0.009605,14.226499,0.966544
2460,"(22577, 22579)",(22578),0.028080,0.051561,0.026023,0.926724,17.973227,0.024575,12.943398,0.971646
2840,"(20723, 22356, 20719)",(20724),0.010893,0.042968,0.010046,0.922222,21.463099,0.009578,12.304700,0.963908
2519,"(23171, 22698)",(22697),0.011619,0.032196,0.010651,0.916667,28.471805,0.010277,11.613653,0.976221
2220,"(22961, DOT)",(21935),0.012951,0.020939,0.011862,0.915888,43.740263,0.011590,11.639945,0.989959
2477,"(23265, 22577)",(22578),0.011498,0.051561,0.010530,0.915789,17.761156,0.009937,11.262709,0.954675

In [2]:
#5
import pandas as pd
s_data2=pd.read_excel("subset_data2_12012019_12012052.xlsx")
s_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5143 entries, 0 to 5142
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    5143 non-null   object
 1   StockCode    5143 non-null   object
 2   Description  5143 non-null   object
 3   Quantity     5143 non-null   int64
 4   InvoiceDate  5143 non-null   datetime64[ns]
 5   UnitPrice    5143 non-null   float64
 6   CustomerID   5126 non-null   float64
 7   Country      5143 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 321.6+ KB

In [3]:
#5
#2
invoice_data2 = s_data2.groupby('InvoiceNo')['StockCode'].apply(list).reset_index()
invoice_data2.columns = ['InvoiceNo', 'StockCodes']
print(invoice_data2)

    InvoiceNo                                         StockCodes
0      536370  [22728, 22727, 22726, 21724, 21883, 10002, 217...
1      536852   [22549, 22544, 22539, 22661, 21791, 21786, POST]
2      536974  [15056BL, 15056P, 20679, 21915, 22659, 22352, ...
3      537065  [22837, 22846, 22892, 22968, 84678, 20665, 217...
4      537463  [22961, 21224, 22326, 21124, 21121, 21137, 220...
..        ...                                                ...
280   C559049                                            [23079]
281   C560898                                     [85066, 22797]
282   C561621                                     [85066, 22797]
283   C563109                                     [21936, 20725]
284   C565615  [22423, 23325, 21197, 22976, 22972, 23236, 232...

[285 rows x 2 columns]

In [5]:
#3
# Group data by InvoiceNo and aggregate StockCodes as a list
#the lambda function inside the apply() method is used to ensure that all 'StockCode' values are treated as strings.
invoice_data2= s_data2.groupby('InvoiceNo')['StockCode'].apply(lambda x: list(map(str, x))).reset_index()

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
# Convert StockCodes into one-hot encoded format
te = TransactionEncoder()
te_ary = te.fit(invoice_data2['StockCode']).transform(invoice_data2['StockCode'])
df2 = pd.DataFrame(te_ary, columns=te.columns_)

In [ ]:
# Generate frequent itemsets with minimum support of 0.01
from scipy.sparse import csr_matrix

# Convert the DataFrame to a sparse matrix
#sparse_df = csr_matrix(df2.values)

# Generate frequent itemsets with sparse matrix
frequent_itemsets = apriori(df2,min_support=0.01, use_colnames=True)

# Generate association rules with lift more than 1.0
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [ ]:
print(rules)